.counter-container {
    background: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.digit-box {
    background: #111;
    color: white;
    width: 60px;
    height: 90px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
